.fond{

}

.texte{
    -fx-text-fill: #333333;
}

/*
 * Liste des boutons.
 */

.boutonBase{
    -fx-background-insets: 1;

    -fx-border-width: 0px;
    -fx-border-radius: 50px;
    -fx-background-radius: 45px;

    -fx-font-family: "Arial";
    -fx-text-fill: white;

    -fx-padding: 8;

}

.boutonBase:hover{
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

.BTBleu{

    -fx-background-color: linear-gradient(#337ab7, #2e6da4);
}

.BTBleu:hover{
    -fx-background-color: linear-gradient(#2e6da4, #286090);
}

.BTBleu::before{
  -fx-background-color: linear-gradient(#d9534f, #d43f3a);
}

.BTrouge{
    -fx-background-color: linear-gradient(#d9534f, #d43f3a);
}

.BTrouge:hover{
    -fx-background-color: linear-gradient(#d43f3a, #c9302c);
}

.BTvert{
    -fx-background-color: linear-gradient(#33b765, #2ea45b);
}

.BTvert:hover{
    -fx-background-color: linear-gradient(#2ea45b, #28904f);
}

.BTjaune{
    -fx-background-color: linear-gradient(#b7a333, #a4922e);
}

.BTjaune:hover{
    -fx-background-color: linear-gradient(#a4922e, #908028);
}

.titreTache{
    -fx-text-fill: #333333;
}

.titreTache .title{
  -fx-background-radius: 0;
}

/*
 * Panneau
 */
.panneauListeTache{
	-fx-background-insets: 1;
	-fx-border-color: #c8c8c8;
}

.scroll-bar:vertical .thumb{
	-fx-background-color: linear-gradient(#337ab7, #2e6da4);
	-fx-border-color: #286090;
	-fx-border-radius: 5px;
	-fx-border-insets: 1px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 0;

    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-background-color:  white;
}
